## Basic Statistical Testing

In this lecture we're going to review some of the basics of statistical testing in python. We're going to talk about hypothesis testing, statistical significance, and using scipy to run student's t-tests.

In [1]:
# We use statistics in a lot of different ways in data science, and on this lecture, I want to refresh your
# knowledge of hypothesis testing, which is a core data analysis activity behind experimentation. The goal of
# hypothesis testing is to determine if, for instance, the two different conditions we have in an experiment 
# have resulted in different impacts

import numpy as np
import pandas as pd

from scipy import stats

In [2]:
# Now, scipy is an interesting collection of libraries for data science and you'll use most or perpahs all of
# these libraries. It includes numpy and pandas, but also plotting libraries such as matplotlib, and a
# number of scientific library functions as well

In [4]:
# When we do hypothesis testing, we actually have two statements of interest: the first is our actual
# explanation, which we call the alternative hypothesis, and the second is that the explanation we have is not
# sufficient, and we call this the null hypothesis. Our actual testing method is to determine whether the null
# hypothesis is true or not. If we find that there is a difference between groups, then we can reject the null
# hypothesis and we accept our alternative.

# Let's see an example of this; we're going to use some grade data

df = pd.read_csv('grades.csv')
print('data sucessfully read into pandas dataframe')

data sucessfully read into pandas dataframe

In [5]:
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [6]:
# If we take a look at the data frame inside, we see we have six different assignments. Lets look at some
# summary statistics for this DataFrame

print(f'There are total {df.shape[0]} rows in {df.shape[1]} columns in dataframe')

There are total 2315 rows in 13 columns in dataframe

In [15]:
# For the purpose of this lecture, let's segment this population into two pieces. Let's say those who finish
# the first assignment by the end of December 2015, we'll call them early finishers, and those who finish it 
# sometime after that, we'll call them late finishers.

early_finishers = df[pd.to_datetime(df['assignment1_submission']) < '2016']
early_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000

In [18]:
# So, you have lots of skills now with pandas, how would you go about getting the late_finishers dataframe?
# Why don't you pause the video and give it a try.

In [19]:
# Here's my solution. First, the dataframe df and the early_finishers share index values, so I really just
# want everything in the df which is not in early_finishers

late_finishers = df[~df.index.isin(early_finishers.index)]
late_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [20]:
# There are lots of other ways to do this. For instance, you could just copy and paste the first projection
# and change the sign from less than to greater than or equal to. This is ok, but if you decide you want to
# change the date down the road you have to remember to change it in two places. You could also do a join of
# the dataframe df with early_finishers - if you do a left join you only keep the items in the left dataframe,
# so this would have been a good answer. You also could have written a function that determines if someone is
# early or late, and then called .apply() on the dataframe and added a new column to the dataframe. This is a
# pretty reasonable answer as well.

In [26]:
# As you've seen, the pandas data frame object has a variety of statistical functions associated with it. If
# we call the mean function directly on the data frame, we see that each of the means for the assignments are
# calculated. Let's compare the means for our two populations
print('Early Finisheres Avg:', early_finishers['assignment1_grade'].mean())
print('Late Finisheres Avg:', late_finishers['assignment1_grade'].mean())

Early Finisheres Avg: 74.94728457024304
Late Finisheres Avg: 74.0450648477065

In [30]:
# Ok, these look pretty similar. But, are they the same? What do we mean by similar? This is where the
# students' t-test comes in. It allows us to form the alternative hypothesis ("These are different") as well
# as the null hypothesis ("These are the same") and then test that null hypothesis.

# When doing hypothesis testing, we have to choose a significance level as a threshold for how much of a
# chance we're willing to accept. This significance level is typically called alpha. #For this example, let's
# use a threshold of 0.05 for our alpha or 5%. Now this is a commonly used number but it's really quite
# arbitrary.

# The SciPy library contains a number of different statistical tests and forms a basis for hypothesis testing
# in Python and we're going to use the ttest_ind() function which does an independent t-test (meaning the
# populations are not related to one another). The result of ttest_index() are the t-statistic and a p-value.
# It's this latter value, the probability, which is most important to us, as it indicates the chance (between
# 0 and 1) of our null hypothesis being True.

# Let's bring in our ttest_ind function
from scipy.stats import ttest_ind

ttest_ind(early_finishers['assignment1_grade'], late_finishers['assignment1_grade'])

TtestResult(statistic=1.3223540853721598, pvalue=0.18618101101713855, df=2313.0)

In [31]:
# So here we see that the probability is 0.18, and this is above our alpha value of 0.05. This means that we
# cannot reject the null hypothesis. The null hypothesis was that the two populations are the same, and we
# don't have enough certainty in our evidence (because it is greater than alpha) to come to a conclusion to
# the contrary. This doesn't mean that we have proven the populations are the same.

In [32]:
# Why don't we check the other assignment grades?
print(ttest_ind(early_finishers['assignment2_grade'], late_finishers['assignment2_grade']))
print(ttest_ind(early_finishers['assignment3_grade'], late_finishers['assignment3_grade']))
print(ttest_ind(early_finishers['assignment4_grade'], late_finishers['assignment4_grade']))
print(ttest_ind(early_finishers['assignment5_grade'], late_finishers['assignment5_grade']))
print(ttest_ind(early_finishers['assignment6_grade'], late_finishers['assignment6_grade']))

TtestResult(statistic=1.2514717608216366, pvalue=0.2108889627004424, df=2313.0)
TtestResult(statistic=1.6133726558705392, pvalue=0.10679998102227865, df=2313.0)
TtestResult(statistic=0.049671157386456125, pvalue=0.960388729789337, df=2313.0)
TtestResult(statistic=-0.05279315545404755, pvalue=0.9579012739746492, df=2313.0)
TtestResult(statistic=-0.11609743352612056, pvalue=0.9075854011989656, df=2313.0)

In [33]:
# Ok, so it looks like in this data we do not have enough evidence to suggest the populations differ with
# respect to grade. Let's take a look at those p-values for a moment though, because they are saying things
# that can inform experimental design down the road. For instance, one of the assignments, assignment 3, has a
# p-value around 0.1. This means that if we accepted a level of chance similarity of 11% this would have been
# considered statistically significant. As a research, this would suggest to me that there is something here
# worth considering following up on. For instance, if we had a small number of participants (we don't) or if
# there was something unique about this assignment as it relates to our experiment (whatever it was) then
# there may be followup experiments we could run.

In [35]:
# P-values have come under fire recently for being insuficient for telling us enough about the interactions
# which are happening, and two other techniques, confidence intervalues and bayesian analyses, are being used
# more regularly. One issue with p-values is that as you run more tests you are likely to get a value which
# is statistically significant just by chance.

# Lets see a simulation of this. First, lets create a data frame of 100 columns, each with 100 numbers
df1 = pd.DataFrame(np.random.random(100) for x in range(100))
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.328384,0.807385,0.605442,0.552280,0.314435,0.488980,0.498684,0.052186,0.681178,0.371620,...,0.669727,0.724880,0.676619,0.727182,0.827754,0.950885,0.491987,0.669485,0.307660,0.860806
1,0.480802,0.722459,0.669152,0.036361,0.205001,0.902522,0.246592,0.343560,0.624195,0.118899,...,0.319621,0.429748,0.649994,0.595581,0.625586,0.242411,0.082697,0.638360,0.643905,0.630851
2,0.084829,0.538939,0.553402,0.071048,0.235492,0.220940,0.804425,0.847203,0.169398,0.803131,...,0.075736,0.304717,0.296635,0.968353,0.107702,0.032509,0.899457,0.604431,0.769225,0.446755
3,0.844278,0.229304,0.866298,0.132593,0.655101,0.216167,0.950387,0.096330,0.905957,0.512312,...,0.187941,0.331332,0.839976,0.162582,0.042069,0.773933,0.658196,0.371249,0.706197,0.782945
4,0.950213,0.895306,0.362258,0.181900,0.390340,0.605837,0.755716,0.927310,0.047252,0.113612,...,0.321205,0.340905,0.022631,0.515756,0.128864,0.215000,0.827824,0.101542,0.484282,0.325096

In [37]:
# Pause this and reflect -- do you understand the list comprehension and how I created this DataFrame? You
# don't have to use a list comprehension to do this, but you should be able to read this and figure out how it
# works as this is a commonly used approach on web forums.

# Ok, let's create a second dataframe

df2 = pd.DataFrame(np.random.random(100) for x in range(100))
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.955793,0.733635,0.308705,0.666370,0.118712,0.096225,0.976863,0.430967,0.801731,0.035131,...,0.807789,0.261435,0.168158,0.236366,0.138068,0.298406,0.746290,0.332676,0.492121,0.668357
1,0.557221,0.844284,0.317325,0.665386,0.294685,0.613281,0.795608,0.936178,0.730956,0.332586,...,0.934547,0.635145,0.180849,0.457179,0.287615,0.125543,0.778303,0.666130,0.983710,0.000769
2,0.027160,0.627068,0.280293,0.038611,0.178982,0.717827,0.948462,0.667646,0.200510,0.963868,...,0.362954,0.758216,0.028649,0.430363,0.477297,0.791650,0.836217,0.723627,0.846878,0.726236
3,0.960212,0.475512,0.401537,0.308140,0.372199,0.544333,0.983890,0.060986,0.737257,0.547114,...,0.179625,0.554788,0.021409,0.667494,0.621094,0.440755,0.229256,0.946287,0.733876,0.938602
4,0.468729,0.522116,0.394426,0.148516,0.126001,0.830253,0.291341,0.534931,0.171326,0.438725,...,0.813633,0.348673,0.048591,0.565106,0.547436,0.118656,0.443180,0.868200,0.667538,0.553565

In [39]:
# Are these two DataFrames the same? Maybe a better question is, for a given row inside of df1, is it the same
# as the row inside df2?

# Let's take a look. Let's say our critical value is 0.1, or and alpha of 10%. And we're going to compare each
# column in df1 to the same numbered column in df2. And we'll report when the p-value isn't less than 10%,
# which means that we have sufficient evidence to say that the columns are different.

# Let's write this in a function called test_columns
def test_columns(alpha=0.1):
    num_diff=0
    for col in df1.columns:
        teststat,pval=ttest_ind(df1[col],df2[col])
        if pval<=alpha:
            print("Col {} is statistically significantly different at alpha={}, pval={}".format(col,alpha,pval))
            num_diff=num_diff+1
    print("Total number different was {}, which is {}%".format(num_diff,float(num_diff)/len(df1.columns)*100))

test_columns()

Col 13 is statistically significantly different at alpha=0.1, pval=0.011733179495257665
Col 16 is statistically significantly different at alpha=0.1, pval=0.05059010557952693
Col 19 is statistically significantly different at alpha=0.1, pval=0.000655526198809633
Col 25 is statistically significantly different at alpha=0.1, pval=0.004427133227624944
Col 26 is statistically significantly different at alpha=0.1, pval=0.08843624977399141
Col 28 is statistically significantly different at alpha=0.1, pval=0.009545597407850107
Col 59 is statistically significantly different at alpha=0.1, pval=0.08581327905074168
Col 61 is statistically significantly different at alpha=0.1, pval=0.033648045201025774
Col 76 is statistically significantly different at alpha=0.1, pval=0.09133367701395254
Col 87 is statistically significantly different at alpha=0.1, pval=0.020360404610391927
Col 89 is statistically significantly different at alpha=0.1, pval=0.03172091029198587
Total number different was 11, which is 11.0%

In [40]:
# Interesting, so we see that there are a bunch of columns that are different! In fact, that number looks a
# lot like the alpha value we chose. So what's going on - shouldn't all of the columns be the same? Remember
# that all the ttest does is check if two sets are similar given some level of confidence, in our case, 10%.
# The more random comparisons you do, the more will just happen to be the same by chance. In this example, we
# checked 100 columns, so we would expect there to be roughly 10 of them if our alpha was 0.1.

# We can test some other alpha values as well
test_columns(0.05)

Col 13 is statistically significantly different at alpha=0.05, pval=0.011733179495257665
Col 19 is statistically significantly different at alpha=0.05, pval=0.000655526198809633
Col 25 is statistically significantly different at alpha=0.05, pval=0.004427133227624944
Col 28 is statistically significantly different at alpha=0.05, pval=0.009545597407850107
Col 61 is statistically significantly different at alpha=0.05, pval=0.033648045201025774
Col 87 is statistically significantly different at alpha=0.05, pval=0.020360404610391927
Col 89 is statistically significantly different at alpha=0.05, pval=0.03172091029198587
Total number different was 7, which is 7.000000000000001%

In [41]:
# So, keep this in mind when you are doing statistical tests like the t-test which has a p-value. Understand
# that this p-value isn't magic, that it's a threshold for you when reporting results and trying to answer
# your hypothesis. What's a reasonable threshold? Depends on your question, and you need to engage domain
# experts to better understand what they would consider significant.

# Just for fun, lets recreate that second dataframe using a non-normal distribution, I'll arbitrarily chose
# chi squared
df2=pd.DataFrame([np.random.chisquare(df=1,size=100) for x in range(100)])
test_columns()

Col 0 is statistically significantly different at alpha=0.1, pval=0.003922538849955745
Col 1 is statistically significantly different at alpha=0.1, pval=0.0007802679511819796
Col 2 is statistically significantly different at alpha=0.1, pval=0.0034176639103197268
Col 3 is statistically significantly different at alpha=0.1, pval=1.3030472188180431e-05
Col 4 is statistically significantly different at alpha=0.1, pval=0.006310290671475033
Col 5 is statistically significantly different at alpha=0.1, pval=0.005242433920955942
Col 6 is statistically significantly different at alpha=0.1, pval=0.00015994157078706744
Col 7 is statistically significantly different at alpha=0.1, pval=1.6917174337398967e-06
Col 8 is statistically significantly different at alpha=0.1, pval=0.00025399662730292167
Col 9 is statistically significantly different at alpha=0.1, pval=0.00041695328938895883
Col 10 is statistically significantly different at alpha=0.1, pval=0.0005943293810842398
Col 11 is statistically significantly different at alpha=0.1, pval=0.0025012378823954483
Col 12 is statistically significantly different at alpha=0.1, pval=3.7535167045463256e-05
Col 13 is statistically significantly different at alpha=0.1, pval=0.00478597369664987
Col 14 is statistically significantly different at alpha=0.1, pval=0.00028162221130197915
Col 15 is statistically significantly different at alpha=0.1, pval=0.002114502006422778
Col 16 is statistically significantly different at alpha=0.1, pval=0.00020947667721298908
Col 17 is statistically significantly different at alpha=0.1, pval=0.0009215254419368852
Col 18 is statistically significantly different at alpha=0.1, pval=9.369940474904958e-05
Col 19 is statistically significantly different at alpha=0.1, pval=0.0025020496799071103
Col 20 is statistically significantly different at alpha=0.1, pval=0.006989257283197163
Col 21 is statistically significantly different at alpha=0.1, pval=0.0770205517140611
Col 22 is statistically significantly different at alpha=0.1, pval=0.0011132534115144493
Col 23 is statistically significantly different at alpha=0.1, pval=0.022035218233598268
Col 24 is statistically significantly different at alpha=0.1, pval=0.0010187420341868996
Col 25 is statistically significantly different at alpha=0.1, pval=0.0002448337564043161
Col 26 is statistically significantly different at alpha=0.1, pval=0.0003179965712478043
Col 27 is statistically significantly different at alpha=0.1, pval=5.8923429756310845e-06
Col 28 is statistically significantly different at alpha=0.1, pval=1.0572513892453786e-05
Col 29 is statistically significantly different at alpha=0.1, pval=0.0010604982585635974
Col 30 is statistically significantly different at alpha=0.1, pval=9.054331223176767e-05
Col 31 is statistically significantly different at alpha=0.1, pval=0.0016860653750347602
Col 32 is statistically significantly different at alpha=0.1, pval=0.0056138989270406794
Col 33 is statistically significantly different at alpha=0.1, pval=5.589567583791824e-05
Col 34 is statistically significantly different at alpha=0.1, pval=0.0005368138340374005
Col 35 is statistically significantly different at alpha=0.1, pval=0.012648551933117624
Col 36 is statistically significantly different at alpha=0.1, pval=0.0007093588641503686
Col 37 is statistically significantly different at alpha=0.1, pval=0.00011985466415947235
Col 38 is statistically significantly different at alpha=0.1, pval=0.014451207635345952
Col 39 is statistically significantly different at alpha=0.1, pval=0.053062899086259455
Col 40 is statistically significantly different at alpha=0.1, pval=0.011056228996670248
Col 41 is statistically significantly different at alpha=0.1, pval=3.0066221724318e-05
Col 42 is statistically significantly different at alpha=0.1, pval=0.007325356366601898
Col 43 is statistically significantly different at alpha=0.1, pval=0.00023401462497273844
Col 44 is statistically significantly different at alpha=0.1, pval=0.0017626682495660451
Col 45 is statistically significantly different at alpha=0.1, pval=7.406703213199375e-06
Col 46 is statistically significantly different at alpha=0.1, pval=1.808374664119852e-05
Col 47 is statistically significantly different at alpha=0.1, pval=0.00010197818537185683
Col 48 is statistically significantly different at alpha=0.1, pval=3.5120879380939014e-05
Col 49 is statistically significantly different at alpha=0.1, pval=0.01489579300439173
Col 50 is statistically significantly different at alpha=0.1, pval=0.0009974804113647175
Col 51 is statistically significantly different at alpha=0.1, pval=0.0015550992920039242
Col 52 is statistically significantly different at alpha=0.1, pval=0.0021677893100693875
Col 53 is statistically significantly different at alpha=0.1, pval=7.582947223188734e-06
Col 54 is statistically significantly different at alpha=0.1, pval=0.0011194042802967826
Col 55 is statistically significantly different at alpha=0.1, pval=0.005697626775828031
Col 56 is statistically significantly different at alpha=0.1, pval=0.0026569843807555753
Col 57 is statistically significantly different at alpha=0.1, pval=0.0001544488433422228
Col 58 is statistically significantly different at alpha=0.1, pval=0.0034901348290186434
Col 59 is statistically significantly different at alpha=0.1, pval=2.5822410369780825e-05
Col 60 is statistically significantly different at alpha=0.1, pval=0.0010291106326644486
Col 61 is statistically significantly different at alpha=0.1, pval=0.004847115156102462
Col 62 is statistically significantly different at alpha=0.1, pval=2.6422357339394988e-05
Col 63 is statistically significantly different at alpha=0.1, pval=0.0018778356128319354
Col 64 is statistically significantly different at alpha=0.1, pval=0.00017955248509713738
Col 65 is statistically significantly different at alpha=0.1, pval=0.00018147154485223678
Col 66 is statistically significantly different at alpha=0.1, pval=0.0023580918564467725
Col 67 is statistically significantly different at alpha=0.1, pval=0.004641628410290218
Col 68 is statistically significantly different at alpha=0.1, pval=0.0008670596371234687
Col 69 is statistically significantly different at alpha=0.1, pval=0.001347252051720647
Col 70 is statistically significantly different at alpha=0.1, pval=0.000364708749925957
Col 71 is statistically significantly different at alpha=0.1, pval=0.006924018266930768
Col 72 is statistically significantly different at alpha=0.1, pval=0.0009330591357845399
Col 73 is statistically significantly different at alpha=0.1, pval=0.007039783302448573
Col 74 is statistically significantly different at alpha=0.1, pval=1.0283650298510368e-05
Col 75 is statistically significantly different at alpha=0.1, pval=0.0004016790850871827
Col 76 is statistically significantly different at alpha=0.1, pval=0.0031715926189769205
Col 77 is statistically significantly different at alpha=0.1, pval=7.88252563919226e-05
Col 78 is statistically significantly different at alpha=0.1, pval=0.0008623353377254957
Col 79 is statistically significantly different at alpha=0.1, pval=0.001203342580894172
Col 80 is statistically significantly different at alpha=0.1, pval=1.7714062859175011e-06
Col 81 is statistically significantly different at alpha=0.1, pval=0.002562508302210974
Col 82 is statistically significantly different at alpha=0.1, pval=4.724966676464877e-05
Col 83 is statistically significantly different at alpha=0.1, pval=0.00016589348375865186
Col 84 is statistically significantly different at alpha=0.1, pval=0.00020181638679487665
Col 85 is statistically significantly different at alpha=0.1, pval=9.506165176166264e-05
Col 86 is statistically significantly different at alpha=0.1, pval=2.609839607523775e-05
Col 87 is statistically significantly different at alpha=0.1, pval=1.1797335517767355e-05
Col 88 is statistically significantly different at alpha=0.1, pval=9.474159805868693e-05
Col 89 is statistically significantly different at alpha=0.1, pval=0.00013047365210149317
Col 90 is statistically significantly different at alpha=0.1, pval=6.468447515671027e-06
Col 91 is statistically significantly different at alpha=0.1, pval=0.0003493211390585266
Col 92 is statistically significantly different at alpha=0.1, pval=0.00045660037320175437
Col 93 is statistically significantly different at alpha=0.1, pval=0.001771863318538884
Col 94 is statistically significantly different at alpha=0.1, pval=0.0002551150212217914
Col 95 is statistically significantly different at alpha=0.1, pval=0.00013761996761866915
Col 96 is statistically significantly different at alpha=0.1, pval=0.005911299238592284
Col 97 is statistically significantly different at alpha=0.1, pval=1.3964262378251487e-06
Col 98 is statistically significantly different at alpha=0.1, pval=0.0009118471757427344
Col 99 is statistically significantly different at alpha=0.1, pval=0.001221483328746489
Total number different was 100, which is 100.0%

In this lecture, we've discussed just some of the basics of hypothesis testing in Python. I introduced you to the SciPy library, which you can use for the students t test. We've discussed some of the practical issues which arise from looking for statistical significance. There's much more to learn about hypothesis testing, for instance, there are different tests used, depending on the shape of your data and different ways to report results instead of just p-values such as confidence intervals or bayesian analyses. But this should give you a basic idea of where to start when comparing two populations for differences, which is a common task for data scientists.